.sale{
    margin-top: 130px;
    background-image: linear-gradient(to right, rgba($primary-color,0.7),rgba($secondary-color, 0.7));
    height: 440px;
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-slider{
        position: relative;
        top: -21px;
    }
    .slick-prev:before {
            opacity: 1;
            content: url(../image/arrowLeft.png);
        }
        .slick-next::before { 
            content: url(../image/arrowRight.png);
            opacity: 1;
        }
        .slick-prev,
        .slick-next{
            width: 30px;
            height: 30px;
            opacity: 1; 
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            &:hover{
                background-color: $primary-color;
            }
        }
    &-image{
        // position: relative;
        //  top:-41px ;
        // // transform: translateY(-47px);
    }
    &-content{
        padding: 0 60px 0 30px;
        &-title{
            font-size: 48px;
            color: white;
            margin-bottom: 15px;
        }
        &-desc{
            color: white;
            line-height: 20px;
            margin-bottom: 25px;
        }
        .bg--white{
            background-color: $color-white;
            color: $primary-color;
            border: 2px solid $color-white;
            &:hover{
                border:2px solid $color-white;
                color: $color-white;
            }
        }
    }
}