.story{
    padding-top: 115px;
    &-main{
        padding: 0 100px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &-content{
        margin-right: 30px;
    }
    &-title{
        font-size: 48px;
        color: $primary-color;
        
    }
    &-caption{
        font-size: 20px;
        color: $secondary-color;
        padding-bottom: 15px;
        border-bottom: 2px solid $secondary-color;
        margin-bottom: 20px;
    }
    &-desc{
        margin-bottom: 20px;
        line-height: 20px;
        text-align: justify;
    }

    &-image{
        position: relative;
        &::before{
            content: url(../image/ourStory_halfCircle.jpg);
            left:100%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            position: absolute;
        }
        &::after{
            content: url(../image/ourStory_Circle.jpg);
            right: -70px;
            top:70px;
            
            z-index: -1;
            position: absolute;
        }
    }
}