@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .banner {
    min-height: 680px;
  }
  .banner-content {
    margin-top: 160px;
  }
  .banner-images {
    width: 816px;
  }
  .banner-content .slick-prev {
    left: 105%;
  }
  .banner-content .slick-prev::after {
    left: 45px;
  }
  .banner-content .slick-next {
    right: -105px;
  }
  .sale {
    height: 416px;
  }
  .about-card-image {
    height: 370px;
  }
}
